<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="style.css")
  
include ./views/_header
body
  div.contant
    include ./views/_about
    include ./views/_portfolio
    include ./views/_contacts