<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  
  body
    include ./views/_header
    .content
      include ./views/_about
      include ./views/_portfolio
      include ./views/_contacts
    include ./views/_footer