.contacts
  h2.component_header Get In Touch
  p Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
  .row
    .col-sm-8
      form(method='post' action='#')
        .row
          .col-sm-6
            input.input.input_group(type='text' name='Name' placeholder='Name')
          .col-sm-6
            input.input.input_group(type='email' name='Email' placeholder='Email')
        .row
          .col-sm-12
            textarea.input(name='textarea' placeholder='Message')
      input.button(type='submit' value='Send Message')
    .col-sm-4
      ul
        li
        li
        li