.contacts
  h2.component_header Get In Touch
  p Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
  .row
    .col-sm-8
      form(method='post' action='#')
        .row.form_row
          .col-sm-6
            input(type='text' name='Name' placeholder='Name')
          .col-sm-6
            input(type='email' name='Email' placeholder='Email')
        .row.form_row
          .col-sm-12
            textarea(name='textarea' placeholder='Message')
    .col-sm-4