header
  a(id="avatar" href="#")
    img(class="header_avatar" src="img/avatar.jpg")
  h3(class="header_text")
    | <strong> I am Strata</strong>, a super simple <br> responsive site template freebie <br> crafted by
    a(href="#") HTML5 UP
