header
  a#avatar(href="#")
    img.header_avatar(src="img/avatar.jpg")
  h3.header_text
    | <strong> I am Strata</strong>, a super simple <br> responsive site template freebie <br> crafted by 
    a.simple_link(href="#") HTML5 UP
    |.
