header
  a(href="#")
    img(class="header_avatar" src="img/avatar.jpg")
  h3(class="header_text")
    | I am Strata, a super simple responsive site template freebie crafted by
    a(href="#") HTML5 UP
