input[type="text"], input[type="email"], textarea
  line-height 2.75rem
  background #f7f7f7
  border-radius 0.35em
  border solid 2px transparent
  color inherit
  display block
  outline 0
  padding 0 0.75em
  text-decoration none
  width 100%
  font-size 1.1rem
  
    &:focus
      border-color #49bf9d