*
  box-sizing border-box
html
  padding 0

img
  max-width 100%

body
  font-family "Source Sans Pro", Helvetica, sans-serif
  font-size 16px
  font-weight 300
  line-height 1.75em
  color #a2a2a2
  margin 0

  
h1, h2, h3, h4
  font-weight normal !important
  color: #787878;
  font-weight: 400;
  margin: 0 0 1em 0;

h3
  font-size 1.75rem
  // letter-spacing 1px
  line-height: 1.75em

strong 
  color #fff
  font-weight 300

p
  font-size 15px
  margin-bottom 2rem

form
  margin: 0 0 2em 0

.contant
  padding 6em 4em
  
.simple_link
  color #a2a2a2
  // text-transform uppercase
  text-decoration none
  border-bottom dotted 1px
  transition 0.3s
  
  &:hover
    color #49bf9d
    border-bottom none