.contactsForm
  &__textarea
    margin 1rem 0 2.5rem
    resize none

.contactsList
  margin 0
  list-style none
  &__item
    padding-left 1rem
    font-size 0.8rem
    margin-bottom 0.5rem
    i
      position absolute
      font-size 1.25rem
      left -1.5rem
      top 0.25rem
