header
  background -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg.jpg') no-repeat center / cover
  background -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg.jpg') no-repeat center / cover
  background linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg.jpg') no-repeat center / cover
  width 100%
  text-align center
  margin 0
  padding: 6em 4em;

#avatar
  border-bottom none
  margin-bottom 1rem

.header_avatar
  border-radius 100%
  border-bottom none
  width 12%
